services:
  - type: web
    name: tur-orienterings-app
    env: static
    buildCommand: cd turorienteringapp/frontend && npm install && CI=false npm run build
    staticPublishPath: ./turorienteringapp/frontend/build
    envVars:
      - key: NODE_ENV
        value: production
      - key: CI
        value: false
    routes:
      - type: rewrite
        source: /*
        destination: /index.html 
